<!DOCTYPE html>
<html>
<head>
  <title>Wechat vendor platform proxy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "wechat_vendor_platform_proxy/application", media: "all" %>
  <%= javascript_include_tag "wechat_vendor_platform_proxy/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
